li {
  padding: 5px;
  margin: 5px;
  background-color: gold;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  margin-left: 2em;
  padding: 1em;
}

main {
  background-color: gold;

}

#burgerHeader {
  background-color: gold;
  text-align: center;
  padding: 1em;
  
}

#addDiv {
  padding: 2em;
}

#addHeader {
  margin-left: 2em;
}

#addButton {
  margin-left: 4em;
}

.row {
  padding: 2em;
}

/* #eatenHeader #uneatenheader {
  /* padding: 1em; */
/* } */ 